.button{
  font-family:Calibri;
  display:inline-block;
  margin-right:10px;
  color:black;
  color:black;
  margin-top:10px;
  margin-left:10px;
  cursor:pointer;
  padding-left:3px;
  padding-right:3px;
  transition: all .3s ease-out;
}
.button:hover{
 text-decoration:underline;
  
}


#lol{
  color:black;
  font-size:24px;
  font-family:Lucida Sans;
  text-align:center;
  
}
#lol::after{
  content: '|';
  animation: blink 0.7s infinite
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
body{
  //background: url('https://image.prntscr.com/image/1_5WpUXQRpC91TucQIEFvQ.jpg') no-repeat center center fixed;
  background-size:100vw 100vh;
}
#bottom{
  position:absolute;
  background-color:black;

  z-index:1;
  bottom:0px;
  left:0px;
  width:100vw;
  height:100px;
}
main { padding: 100px 0 500px 0;
//border:1px solid black;
text-align:center;

}
#code_cont{
  background-color:black;
  padding: 100px 0 100px 0;
}
#photo_cont{
  width:0%;
  background-color:lightgray;
 
}
#nav{
  z-index:1;
  width:100vw;
  
  //background-color:white;
  position:fixed;
}
.page_title{
  font-size:72px;
  font-family:Helvetica;
  text-decoration:underline;
  
}
#code_title{
  color:white;
}
#proj_wrapper{
 //display:table-layout;
 margin:0 auto;
 //width:0;
 //opacity:0;
 //display:none;
 //height:10px;
 
 
}
#about{
  font-family:Lucida Sans Typewriter;
  animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#photo_table{
 margin:0 auto; 
}
.photos{
  display:inline-block;
  text-align:center;
  width:450px;
  height:300px;
  margin:20px;
}
.projects{
  display:inline-block;
  //box-sizing: border-box;
  text-align:center;
  vertical-align:middle;
  margin:20px;
  font-size:18px;
  width:200px;
  height:200px;
  background-color:lightgray;
  word-wrap:break-word;
 font-family:Helvetica;
 position:relative;
 
  //width:300px;
  //height:300px;
  //background-color:lightgray;
  
}
.title{
  margin-top:70px;
  font-weight:bold;
  transition:all .2s ease-out;
  
}
#github{
  position:absolute;
  bottom:5px;
  right:35%;
  
  transition:all .2s ease-out;
}
.projects:hover .title{
  margin-top:10px;
}

.projects:hover .line,.projects:hover .text,.projects:hover .footer{
  display:block;
}
.line{
  border:1px solid black;
  width:100%;
  background-color:black;
  display:none;
  
}
td a{
  color:black;
}
.text{
  display:none;
  margin-top:10px;
  font-size:14px;
  padding:5px;
  font-family:Helvetica;
}

.footer{
  display:none;
  position:absolute;
  bottom:0;
  color:black;
  text-align:center;
  width:100%;
  font-size:10px;
  
}

#photo_container{
width:75vw;
height:50vw;
}
.button_p{
  position:absolute;
  top:50%;
  border-radius: 10px;
  font-size:30px;
  
  color:white;
  transition:all .6s ease-out;
  padding:10px;
  font-style:bold;
  cursor:pointer;
  
}
#prev{
 left:0;
}
#next{
 right:0;
}
#containerdd{
  display:inline-block;
  position:relative;
}
.button_p:hover{
  background-color:black;
  border-radius:0 3px 3px 0;
  
}
#photo_capt{
  transition: all .6s linear;
  opacity:0;
  font-size:10px;
  color:white;
  position:absolute;
  bottom:3%;
  font-family:Verdana,sans-serif;
  font-style:bold;
  text-align:center;
  width:100%;
}
#containerdd:hover #photo_capt{
  opacity:1;
}
